{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Feedback System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body>
{% block content %}

<div class="register-photo">
    <div class="form-container">
        <form method="POST" action="">
            {% csrf_token %}
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <span>First Name  </span>{{form.first_name}}
            <br>
            <br>
            <span>Last Name  </span>{{form.last_name}}
            <br>
            <br>
            <span>username  </span>{{form.username}}
            <br>
            <br>
            <span>Email  </span>{{form.email}}
            <br>
            <br>
            <span>Password  </span>{{form.password1}}
            <br>
            <br>
            <span>Confirm Password  </span>{{form.password2}}
            <br>
            <br>
            {{form.errors}}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="{% url 'login' %}">You already have an account? Login here.</a></form>
    </div>
</div>

{% endblock %}


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>